@use"../../styles/mixins" as *;



.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  text-align: center;
  height: auto;
  width: 22rem;

  p {
    color: #666666;
    background-color: white;
  }
  h3 {
    background-color: white;
  }
  img{
    background-color: white;;
  }
}
