@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;

.cardContainer {
    font-family: 'Figtree', sans-serif;
     display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    height: auto;
    width: 22rem;
    border-radius:  1.25rem;
    box-shadow: 8px 8px 0px 0px #000;

    button {
        border: none;
        margin-top: 4%;
        width: 82px;
        height: 29px;
        border-radius: 4px;
        font-weight: bold;
    }
    p {
      color: #666666;
      background-color: white;
    }
    h3 {
      background-color: white;
    }
    img {
      background-color: white;
    }
    .nameContainer{
        display: flex;
        background-color: white;
        flex-direction: row;
        align-items: center;
        .avatarImage {
            width: 32px;
            height: 32px;
        }
        .nameSpot{
            font-weight: bold;
            margin-left: 8px;;
        }
      
    
    }
  }
}
